<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../styles/home.css">
    
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-primary">
         <div class="container">
             <div class="head">
                <a href="home.html">Kabbee</a>
             </div>
             <ul class="navbar-nav">
                <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                <li class="nav-item"><a href="programs.html" class="nav-link">Programs</a></li>
                <li class="nav-item"><a href="students.html" class="nav-link">Students</a></li>
                <li class="nav-item"><a href="team.html" class="nav-link">Team</a></li>
                <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                <li class="nav-item"><a href="registration.html" class="nav-link">Registration</a></li>
                <li class="nav-item"><a href="../index.html" class="nav-link">Log Out</a></li>
             </ul>
         </div>
    </nav>
    <div class="aboutbody">
    <div class="container">
    
            <h1><b>ABOUT US</b></h1>
         <h2>Kabbee</h2>
         <p>KABBEE is a non-profit organization that started out of a desire to aid refugees as they strive to transition to new lives in their adopted countries. We believe in the motto that a little help goes a long way and that we can make a difference in the lives of refugee communities by providing education, technical and vocational trainings. Our vision is that we can transform many refugees especially youth to become independent and future productive citizens in their adopted countries.</p>

    <h2>OUR MISSION</h2>
    <p>
        Our current mission is to equip Eritrean refugees who are living in Sudan to develop necessary life skills by providing short-term technical and vocational training in this interim period. We believe this will help these refugees not only to use their time productively in developing new skills that will allow them to better support themselves in future, but also to build their confidence, as well as giving them a vision of future hope and purpose.</p>

       </div>
    </div>
      
    

</body>
</html>