<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../styles/home.css">
    
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-primary">
         <div class="container">
             <div class="head">
                <a href="home.html">Kabbee</a>
             </div>
             <ul class="navbar-nav">
                <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                <li class="nav-item"><a href="programs.html" class="nav-link">Programs</a></li>
                <li class="nav-item"><a href="students.html" class="nav-link">Students</a></li>
                <li class="nav-item"><a href="team.html" class="nav-link">Team</a></li>
                <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                <li class="nav-item"><a href="registration.html" class="nav-link">Registration</a></li>
                <li class="nav-item"><a href="../index.html" class="nav-link">Log Out</a></li>
             </ul>
         </div>
    </nav>
    <div class="contactbody">
        <div class="container">
    
            <h1><b>CONTACT US</b></h1>
            <p><b>We love to hear from you</b></p>
                <div>
                    <div class="left">
                          <div class="plane">
                              <input type="text" class="input" placeholder="Your First Name *">
                              <input type="text" class="input" placeholder="Your Last Name *">
                          </div>
                          <input type="email" class="youremail" placeholder="Your Email *">
                          <input type="email" class="yourphone" placeholder="Your Email *">
                    </div>
                    <div class="right">
                        <textarea class="message" name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>  
                    </div>
                    
                </div>
                <div class="send message">
                    <button type="submit" class="btn btn-primary">Send Message</button>
                </div>
        </div>
    </div>
    <div class="lastpage">
        Kabbee web copyright, &copy; 2019
    </div>
</body>
</html>