<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../styles/home.css">
    
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-primary">
         <div class="container">
             <div class="head">
                <a href="home.html">Kabbee</a>
             </div>
             <ul class="navbar-nav">
                <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                <li class="nav-item"><a href="programs.html" class="nav-link">Programs</a></li>
                <li class="nav-item"><a href="students.html" class="nav-link">Students</a></li>
                <li class="nav-item"><a href="team.html" class="nav-link">Team</a></li>
                <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                <li class="nav-item"><a href="registration.html" class="nav-link">Registration</a></li>
                <li class="nav-item"><a href="../index.html" class="nav-link">Log Out</a></li>
             </ul>
         </div>
    </nav>
    <div class="programbody">
        <div class="container">
    
            <h1><b>PROGRAMS</b></h1>
            <p id="paraone">Our programs provide students — most of whom have never had a computer before — with an introduction to software applications, including a hands-on lab, as well as theory. Current programs are:</p>
            <p id="paratwo">We plan to add other classes in near future.</p>
        </div>
     
        
    </div>
    
</body>
</html>